* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #5898ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #1a1a40;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #5898ff;
  border-radius: 5px 0 0 5px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.todo-input::placeholder {
  color: rgb(144, 143, 143);
}

.todo-btn {
  background: #5898ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  border-radius: 0 5px 5px 0px;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #5898ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.5rem;
}

.edit-icon {
  margin-left: 0.5rem;
}
.check-icon {
  margin-left: 0.5rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #aec4ff;
  text-decoration: line-through;
  cursor: pointer;
}

.trash-icon,
.check-icon,
.edit-icon {
  cursor: pointer;
}

p {
  cursor: text;
}

h4 {
  color: #fff;
}
